{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'jumbotron-narrow.css' %}">
    <!-- JS -->
    <script src="{% static 'jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart', 'bar']});
        google.charts.load('current', {packages: ['corechart', 'line']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data_week = new google.visualization.DataTable();
            data_week.addColumn('string', '날짜');
            data_week.addColumn('number', '확진자');
            data_week.addColumn({type:'number', role:'annotation'})

            var data = new google.visualization.DataTable();
            data.addColumn('date', '날짜');
                data.addColumn('number', '확진자');

                data_week.addRows([
                    {% for d in data_week %}
                    ['{{d.string}}', {{d.today}}, {{d.today}}],
                    {% endfor %}
                  ]);

                data.addRows([
                    {% for d in data_list %}
                    [new Date('{{d}}'), {{d.today}}],
                    {% endfor %}
                  ]);

                var week_options = {
                title: '일별 신규 확진자수',
                vAxis: {
                  minValue: 0
                },
                  width: 700,
                  height: 400,
                };

                var options = {
                  title: '확진자수 추이',
                  vAxis: {
                      minValue: 0
                    },
                  width: 700,
                  height: 400,
                };

                var chart = new google.visualization.ColumnChart(document.getElementById('chart_week'));
                chart.draw(data_week, week_options);

                var charts = new google.visualization.LineChart(document.getElementById('chart_all'));
                charts.draw(data, options);
                }
    </script>

    <title>Covid19-KR</title>
</head>
<body>

<div align="center" class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
            <a class="navbar-brand" href="{% url 'covid19:home' %}">COVID19-KR</a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link" href="#">로그인</a>
                    </li>
                </ul>
            </div>
        </nav>


        <div id="chart_week" style="width: 700px; height: 400px; margin:auto;"></div>
        <div id="chart_all" style="width: 700px; height: 400px; margin:auto;"></div>

    <div>
        <div class="card" style="width: 14rem; float:left; margin-right:10px;">
          <div class="card-body">
            <h5 class="card-title">신규 합계</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{data.today}}</h6>
          </div>
        </div>

        <div class="card" style="width: 14rem; float:left; margin-right:10px;">
          <div class="card-body">
            <h5 class="card-title">신규 합계</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{data.today}}</h6>
          </div>
        </div>
    </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>

      <footer class="footer">
        <p>© Company 2014</p>
      </footer>

    </div> <!-- /container -->


<h1>코로나 대시보드</h1>

{% if data %}
    <h4>{{data.update}} 업데이트</h4>
    <h4>누적 확진자: {{data.confirmed}}</h4>
    <h4>신규 확진자: {{data.today}}</h4>
    <h4>사망자: {{data.death}}</h4>
    <h4>완치자: {{data.released}}</h4>
    <h4>검사자: {{data.tested}}</h4>
{% else %}
    <h4>데이터가 없습니다.</h4>
{% endif %}


        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
  </body>
</html>