<h1>코로나 대시보드</h1>

{% if data %}
    <h4>{{data.update}} 업데이트</h4>
    <h4>누적 확진자: {{data.confirmed}}</h4>
    <h4>신규 확진자: {{data.today}}</h4>
    <h4>사망자: {{data.death}}</h4>
    <h4>완치자: {{data.released}}</h4>
    <h4>검사자: {{data.tested}}</h4>
{% else %}
    <h4>데이터가 없습니다.</h4>
{% endif %}

{% for d in data_week %}
<h5>{{d}}</h5>
<h5>{{d.today}}</h5>
{% endfor %}

<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart', 'bar']});
      google.charts.load('current', {packages: ['corechart', 'line']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data_week = new google.visualization.DataTable();
        data_week.addColumn('string', '날짜');
        data_week.addColumn('number', '확진자');

        var data = new google.visualization.DataTable();
        data.addColumn('date', '날짜');
        data.addColumn('number', '확진자');

        data_week.addRows([
            {% for d in data_week %}
            ['{{d.string}}', {{d.today}}],
            {% endfor %}
          ]);

        data.addRows([
            {% for d in data_list %}
            [new Date('{{d}}'), {{d.today}}],
            {% endfor %}
          ]);

        var week_options = {
        title: '일별 신규 확진자수',
        vAxis: {
          minValue: 0
        },
          width: 800,
          height: 500,
        };

        var options = {
          title: '확진자수 추이',
          vAxis: {
              minValue: 0
            },
          width: 800,
          height: 500,
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_week'));
        chart.draw(data_week, week_options);

        var charts = new google.visualization.LineChart(document.getElementById('chart_all'));
        charts.draw(data, options);
        }
    </script>
  </head>
  <body>
    <div id="chart_week" style="width: 800px; height: 500px;"></div>
    <div id="chart_all" style="width: 800px; height: 500px;"></div>
  </body>
</html>


<!--{% load static %}-->
<!--<img src="{% static 'covid19-all.png' %}">-->
<!--<img src="{% static 'covid19-week.png' %}">-->

<!--{% if data_list %}-->
<!--    <ul>-->
<!--    {% for data in data_list %}-->
<!--        <li>{{ data.date }}</a></li>-->
<!--    {% endfor %}-->
<!--    </ul>-->
<!--{% else %}-->
<!--    <p>데이터가 없습니다.</p>-->
<!--{% endif %}-->